extends layout

block content
  h1= title
  a(href='/new') New message 

  ul 
    each message in messages 
      li
        .message-info
          p #{message.user}
          p #{message.added.toLocaleString()}
        p #{message.text}
      