body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin: 16px 0;
  padding: 8px;
}

.message {
  border: 1px solid black;
}

.message-info {
  display: flex;
  gap: 16px;
}

textarea {
  vertical-align: top;
}